<div class="sidebar" data-color="purple" data-background-color="white" data-image="../assets/img/sidebar-1.jpg">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

      Tip 2: you can also add an image using data-image tag
  -->
    <div class="logo">
        <a href="https://general.futuregenerali.in/" class="simple-text logo-normal">
            <img src="https://general.futuregenerali.in/img/logo.png" title="Click here to reach company's website">
        </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item ">
                <a class="nav-link" th:href="@{Brand_Engagement}">
                    <i class="material-icons">add_circle_outline</i>
                    <p>Brand Engagement</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{New_Customers}">
                    <i class="material-icons">add</i>
                    <p>New Customers</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{Customer_Outreach}">
                    <i class="material-icons">face</i>
                    <p>Customer Outreach</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{Corporate_Relationship}">
                    <i class="material-icons">supervisor_account</i>
                    <p>Corporate Relationship</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{social_finder}">
                    <i class="material-icons">youtube_searched_for</i>
                    <p>Social Finder</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{Customer_Classifier}">
                    <i class="material-icons">tune</i>
                    <p>Customer Classifier</p>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link" th:href="@{image_search}">
                    <i class="material-icons">image</i>
                    <p>Image Search</p>
                </a>
            </li>
        </ul>
    </div>
</div>